$normal: #A8A77A;

.normal {
    &.color {
        color: $normal
    }

    &.background {
        background-color: $normal
    }

    &.border-color {
        border-color: $normal
    }
}


$fire: #EE8130;

.fire {
    &.color {
        color: $fire
    }

    &.background {
        background-color: $fire
    }

    &.border-color {
        border-color: $fire
    }
}

$water: #6390F0;

.water {
    &.color {
        color: $water
    }

    &.background {
        background-color: $water
    }

    &.border-color {
        border-color: $water
    }
}

$electric: #F7D02C;

.electric {
    &.color {
        color: $electric
    }

    &.background {
        background-color: $electric
    }

    &.border-color {
        border-color: $electric
    }
}

$grass: #7AC74C;

.grass {
    &.color {
        color: $grass
    }

    &.background {
        background-color: $grass
    }

    &.border-color {
        border-color: $grass
    }
}

$ice: #96D9D6;

.ice {
    &.color {
        color: $ice
    }

    &.background {
        background-color: $ice
    }

    &.border-color {
        border-color: $ice
    }
}

$fighting: #C22E28;

.fighting {
    &.color {
        color: $fighting
    }

    &.background {
        background-color: $fighting
    }

    &.border-color {
        border-color: $fighting
    }
}

$poison: #A33EA1;

.poison {
    &.color {
        color: $poison
    }

    &.background {
        background-color: $poison
    }

    &.border-color {
        border-color: $poison
    }
}

$ground: #E2BF65;

.ground {
    &.color {
        color: $ground
    }

    &.background {
        background-color: $ground
    }

    &.border-color {
        border-color: $ground
    }
}

$flying: #A98FF3;

.flying {
    &.color {
        color: $flying
    }

    &.background {
        background-color: $flying
    }

    &.border-color {
        border-color: $flying
    }
}

$psychic: #F95587;

.psychic {
    &.color {
        color: $psychic
    }

    &.background {
        background-color: $psychic
    }

    &.border-color {
        border-color: $psychic
    }
}

$bug: #A6B91A;

.bug {
    &.color {
        color: $bug
    }

    &.background {
        background-color: $bug
    }

    &.border-color {
        border-color: $bug
    }
}

$rock: #B6A136;

.rock {
    &.color {
        color: $rock
    }

    &.background {
        background-color: $rock
    }

    &.border-color {
        border-color: $rock
    }
}

$ghost: #735797;

.ghost {
    &.color {
        color: $ghost
    }

    &.background {
        background-color: $ghost
    }

    &.border-color {
        border-color: $ghost
    }
}

$dragon: #6F35FC;

.dragon {
    &.color {
        color: $dragon
    }

    &.background {
        background-color: $dragon
    }

    &.border-color {
        border-color: $dragon
    }
}

$dark: #705746;

.dark {
    &.color {
        color: $dark
    }

    &.background {
        background-color: $dark
    }

    &.border-color {
        border-color: $dark
    }
}

$steel: #B7B7CE;

.steel {
    &.color {
        color: $steel
    }

    &.background {
        background-color: $steel
    }

    &.border-color {
        border-color: $steel
    }
}

$fairy: #D685AD;

.fairy {
    &.color {
        color: $fairy
    }

    &.background {
        background-color: $fairy
    }

    &.border-color {
        border-color: $fairy
    }
}