@import 'shadows.scss';
@import 'breakpoints.scss';

$toolbar-height: 56px;

.layout {
    width: 100%;
    position: relative;
    background: #f0f2f5;

    &__container {
        max-width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 240px auto;
        position: relative;
    }

    &__content {
        height: 100%;
        overflow-y: auto;
        padding: 8px;
        position: relative;
    }

    &__sidebar {
        background-color: #fff;
        width: 340px;
        position: sticky;
    }

    &__navbar {
        width: 240px;
        padding-top: 8px;
        background-color: #ffffff4d;
        position: sticky;
    }

    &__header {
        background-color: #fff;
        height: $toolbar-height;
        margin: 0;
        position: relative;
        z-index: 1;

        @include boxShadow(1);
    }
}
