@import 'shadows.scss';
@import 'breakpoints.scss';

.pokemon-list-item {
    $parent: &;
    $border-color: rgb(235, 235, 235);

    margin: 0;
    padding: 8px;
    display: flex;
    border-radius: 0px;
    transition: opacity 0.25s ease;
    transition: box-shadow 0.25s ease;
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    border: none;
    // pointer-events: none;

    &__container {
        border-radius: 0px;
        display: flex;
        padding: 1px;

        &.selected {
            @include boxShadow(1);
        }

        &.disabled {
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }

        &:hover {
            @include boxShadow(1);
        }
    }

    &:hover {
        background-color: rgb(250, 250, 250);
    }

    &__img {
        height: 72px;
        width: 72px;
        margin: 0;
        border-radius: 4px;
        background-color: #fff;
        border: solid 1px transparent;
        transition: border-color 0.25s ease;
        margin-right: 16px;
        pointer-events: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        pointer-events: none;
    }

    &__name {
    }

    &__number {
        color: rgb(126, 126, 126);
    }

    &__types {
        display: grid;
        grid-auto-flow: column;
        gap: 8px;
    }

    &__type {
        display: flex;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 4px;
        height: 18px;
        border-radius: 2px;
        width: 64px;
    }
}
