@import 'breakpoints.scss';

.pokemon-list {
    list-style: none;
    margin: 0;
    margin-right: auto;
    padding: 12px;
    border-radius: 0px;
    align-content: flex-start;

    grid-template-columns: repeat(auto-fill, 252px);
    display: grid;
    grid-gap: 1px;
    grid-auto-rows: max-content;

    max-width: 1240px;
    min-height: 100%;

   
    @include down($md) {
        max-width: 100%;
        grid-template-columns: repeat(auto-fill, 100%);
    }

    @include down($sm) {
        .pokemon-list-item__container {
            width: 100%;
            // flex-wrap: nowrap;
            // flex-direction: column;
        }
    }
}
