@import 'breakpoints.scss';

.pokemon-list {
    list-style: none;
    margin: 0;
    padding: 8px;
    border-radius: 4px;
    align-content: flex-start;
    background-color: #fff;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-wrap: wrap;

    max-width: 784px;
    min-width: min-content;
    min-height: 100%;

    .pokemon-list-item__container {
        width: 256px;
    }

    @include down($md) {
        max-width: 100%;
    }

    @include down($sm) {
        .pokemon-list-item__container {
            width: 100%;
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }
}
