@import 'breakpoints.scss';

.pokemon-details-sidebar {
    $border-color: rgb(209, 209, 209);

    border: solid 1px $border-color;
    border-radius: 4px;
    height: 100%;
    background-color: #fff;
    
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: max-content auto max-content;
    max-height: 512px;

    @include down($md) {
        display: none;
    }

    &__header {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: max-content auto;
        gap: 8px;
        align-items: center;

        padding: 8px;

        margin: {
            bottom: 8px;
        }

        border: {
            bottom: 1px solid $border-color;
        }
    }

    &__content {
        overflow-x: hidden;
        word-wrap: break-word;
        padding: 8px;
    }

    &__img {
        max-width: 100%;
        // border: solid 1px;
    }

    &__footer {
        background-color: $border-color;
        padding: 8px;

        >.base-button {
            width: 100%;
        }
    }
}