@import 'breakpoints.scss';

.app__content {
    $bg-color: #f0f2f5;

    .toolbar {
        height: 48px;
        max-width: 1012px;
        margin: {
            top: 8px;
            left: 12px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background-color: darken($color: $bg-color, $amount: 5);
    }
    @include down($sm) {
        .layout_navbar {
            display: none;
        }
    }
}
